body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: black;
    color: white;
    overflow-x: hidden;
}

.topo__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    gap: 80px;
    padding: 5% 0% 0% 0%;
}

.topo__menu__link {
    font-family: "Montserrat", 'sans-serif';
    font-size: 24px;
    font-weight: 600;
    color: limegreen;
    text-decoration: none;
}

.topo__menu__link:hover{
    transform: scale(1.02);
    color: rgb(158, 227, 158);
    text-shadow: 0 0 10px limegreen, 0 0 20px limegreen, 0 0 30px limegreen;
}

/* .inicio {
    padding-left: 360px;
} */

.apresentacao {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
}

.apresentacao__corpo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__corpo__titulo {
    font-size: 32px;
    font-family: "Krona One", 'sans-serif';
}

.apresentacao__corpo__titulo__subtitulo {
    font-size: 28px;
}

.titulo-destaque {
    color: limegreen;
}

.titulo-destaque:hover{
    color: rgb(158, 227, 158);
    text-shadow: 0 0 10px limegreen, 0 0 20px limegreen, 0 0 30px limegreen;
}

.apresentacao__corpo__sobre {
    font-size: 24px;
    font-family: "Montserrat", 'sans-serif';
}

.apresentacao__corpo__sobre__link{
    text-decoration: none;
}

.apresentacao__corpo__sobre__link:hover{
    text-decoration: underline;
}

.destaque{
    color: limegreen;
}

.buttom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px 0;
    padding: 10px 0px;
    border: 2px solid rgb(95, 220, 95);
    border-radius: 10px;
}

.titulo__redes{
    font-family: "Krona One", 'sans-serif';
    font-size: 24px;
    font-weight: 400;
}

.buttom__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 16px;
    width: 378px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-family: "Montserrat", 'sans-serif';
    font-weight: 600;
    padding: 21.5px 0;
    color: white;
    border-radius: 8px;
    border: 2px solid limegreen;
}

.buttom__link:hover{
    background-color: #272727;
    transform: scale(1.02);
    transition: 100ms;
}

.foto{
    border: 2px solid limegreen;
    border-radius: 15px;
}

.foto__pedro{
    position: relative;
    padding: 5px;
    /* right: 5%;
    top: 25px; */
    border-radius: 15px;
}

.rodape {
    bottom: 0%;
    padding: 24px;
    background-color: limegreen;
    color: white;
    text-align: center;
    font-size: 24px;
    font-family: "Montserrat", 'sans-serif';
    font-weight: 600;
}