body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;
    overflow-x: hidden;
}

header {
    top: 0%;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    gap: 80px;
}

.topo__texto {
    font-family: "Montserrat", 'sans-serif';
    font-size: 18px;
    font-weight: 600;
    color: limegreen;
    padding-top: 100px;
    text-decoration: none;
}

.inicio {
    padding-left: 280px;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 15%;
}

.apresentacao__corpo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__corpo__titulo {
    font-size: 32px;
    font-family: "Krona One", 'sans-serif';
}

.apresentacao__corpo__titulo__subtitulo {
    font-size: 28px;
}

.titulo-destaque {
    color: limegreen;
}

.apresentacao__corpo__sobre {
    font-size: 24px;
    font-family: "Montserrat", 'sans-serif';
}

.buttom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px 0;
}

.titulo__redes{
    font-family: "Krona One", 'sans-serif';
    font-size: 24px;
}

.buttom__link {
    background-color: limegreen;
    width: 280px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-family: "Montserrat", 'sans-serif';
    font-weight: 600;
    padding: 21.5px 0;
    color: black;
    border-radius: 16px;
}

footer {
    bottom: 0%;
    width: 100vw;
    height: 80px;
    background-color: limegreen;
    color: white;
}

.direitos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 23.64px 0;
    font-size: 30px;
    font-family: "Montserrat", 'sans-serif';
    font-weight: 600;
}