@media (max-width: 1200px) {
    
    .topo__menu{
        gap: 50px;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__corpo{
        width: auto;
    }
}

@media (max-width: 700px) {
    .topo__menu{
        gap: 40px;
    }

    .topo__menu__link{
        font-size: 1.25rem;
    }

    .apresentacao__corpo{
        width: auto;
    }
}