/* .topo_menu{
    position: fixed;
    top: 0%;
} */

main{
    max-height: 80vh;
}

.projetos {
    display: flex;
    flex-wrap: wrap;
    max-height: 60vh;
    overflow-y: auto;
    scrollbar-width: none;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", 'sans-serif';
    font-weight: 600;
    font-size: 1.125rem;
    padding: 1.5% 15%;
}

.titulo__projetos{
    padding: 9% 15% 4% 15%;
    text-align: center;
}

.projetos__lista {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    text-align: center;
}

.projetos__lista__elemento {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 4px solid var(--cor-terciaria);
    border-radius: 10px;
    background-color: #454545;
    padding: 10px;
    width: 200px;
    max-height: 250px;
    word-break: keep-all;
    overflow-y: auto;
    scrollbar-width: none;
}

.projetos__lista__elemento:hover {
    transform: scale(1.04);
    transition: 100ms;
}

.icone__projeto:hover{
    transform: scale(1.02);
}

/* .elemento{

} */

.icone__projeto {
    width: 80px;
    height: 80px;
}

.descricao{
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    border-radius: 10px;
}

.destaque__nome{
    color: var(--cor-terciaria);
    font-size: 1.25rem;
    font-weight: 650;
}

.link__projetos{
    word-break: break-all;
    text-decoration: none;
    color: var(--cor-principal);
}

.link__projetos:hover{
    text-decoration: underline;
}

.rodape {
    width: 100vw;
    position: fixed;
    bottom: 0%;
}